@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  /* ===========================
      Color System (Dark Theme)
     =========================== */
  --color-background: #000;
  --color-surface: #141a27;
  --color-text: #e6eef8;
  --color-muted: #9ca3af;
  --color-accent: #dc2626;

  /* ===========================
      Fonts
     =========================== */
  --font-sans: var(--font-sans);

  /* ===========================
      Layout Tokens
     =========================== */
  --radius-card: 1rem;
  --radius-button: 0.5rem;
  --spacing-base: 1rem;

  /* ===========================
      Typography
     =========================== */
  --font-base: 'Montserrat', sans-serif;
}

/* ===========================
    Base Styles
   =========================== */
body {
  /* background-color: var(--color-background); */
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-base);
}


.swiper-button-next,
.swiper-button-prev,
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.netflix-scroll::-webkit-scrollbar {
  width: 8px;
}

.netflix-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.netflix-scroll::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 4px;
}

.netflix-scroll::-webkit-scrollbar-thumb:hover {
  background: #f6121d;
}

.netflix-scroll {
  scrollbar-width: thin;
  scrollbar-color: #e50914 rgba(255, 255, 255, 0.05);
}